<mdc-top-app-bar class="demo-top-app-bar-with-tabs">
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section align="start" title="App">
      <!-- <button mdcTopAppBarNavIcon (click)="drawer.open = !drawer.open"> -->
        <!-- <mdc-icon>menu</mdc-icon> -->
      <!-- </button> -->
    </mdc-top-app-bar-section>
    <mdc-top-app-bar-section align="end">
      <mdc-icon mdcTopAppBarActionItem>search</mdc-icon>
      <mdc-icon mdcTopAppBarActionItem>notifications_none</mdc-icon>
      <mdc-icon mdcTopAppBarActionItem (click)="profileMenu.open = !profileMenu.open">more_vert</mdc-icon>
      <div mdcMenuSurfaceAnchor #menuAnchor>
        <mdc-menu #profileMenu [anchorElement]="menuAnchor">
          <mdc-list>
            <mdc-list-item>My Profile</mdc-list-item>
            <mdc-list-divider></mdc-list-divider>
            <mdc-list-item>Sign out</mdc-list-item>
          </mdc-list>
        </mdc-menu>
      </div>
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
  <!-- <mdc-top-app-bar-row> -->
    <!-- <mdc-top-app-bar-section> -->
      <!-- <mdc-tab-bar> -->
        <!-- <mdc-tab-scroller> -->
          <!-- <mdc-tab *ngFor="let tab of tabs" [label]="tab.label" [icon]="tab.icon"></mdc-tab> -->
        <!-- </mdc-tab-scroller> -->
      <!-- </mdc-tab-bar> -->
    <!-- </mdc-top-app-bar-section> -->
  <!-- </mdc-top-app-bar-row>   -->
</mdc-top-app-bar>

<!-- <div class="demo-drawer-app-content"> -->
<!-- <mdc-drawer drawer="dismissible" #drawer> -->
  <!-- <mdc-drawer-header title="Drawer Title" subtitle="Subtitle"></mdc-drawer-header> -->
  <!-- <mdc-drawer-content> -->
    <!-- <mdc-list> -->
      <!-- <a mdc-list-item *ngFor="let item of destinations" href="#/drawer-demo/examples" [activated]="item.activated"> -->
        <!-- <mdc-icon mdcListItemGraphic *ngIf="item.icon">{{item.icon}}</mdc-icon>{{item.label}} -->
      <!-- </a> -->
      <!-- <mdc-list-divider></mdc-list-divider> -->
      <!-- <h6 mdcListGroupSubheader>Labels</h6> -->
      <!-- <a mdc-list-item href="#/drawer-demo/examples"> -->
        <!-- <mdc-icon mdcListItemGraphic>bookmark</mdc-icon>Family -->
      <!-- </a> -->
      <!-- <a mdc-list-item href="#/drawer-demo/examples"> -->
        <!-- <mdc-icon mdcListItemGraphic>bookmark</mdc-icon>Friends -->
      <!-- </a> -->
      <!-- <a mdc-list-item href="#/drawer-demo/examples"> -->
        <!-- <mdc-icon mdcListItemGraphic>bookmark</mdc-icon>Work -->
      <!-- </a> -->
      <!-- <mdc-list-divider></mdc-list-divider> -->
      <!-- <a mdc-list-item href="#/drawer-demo/examples"> -->
        <!-- <mdc-icon mdcListItemGraphic>settings</mdc-icon>Settings -->
      <!-- </a> -->
      <!-- <a mdc-list-item href="#/drawer-demo/examples"> -->
        <!-- <mdc-icon mdcListItemGraphic>announcement</mdc-icon>Help & feedback -->
      <!-- </a> -->
    <!-- </mdc-list> -->
  <!-- </mdc-drawer-content> -->
<!-- </mdc-drawer> -->
<!-- <div mdcDrawerAppContent> -->
  <!-- Lorem ipsum dolor sit amet, ad erat postea ullamcorper nec, veri veniam quo et. Diam phaedrum ei mea, quaeque -->
  <!-- voluptaria efficiantur duo no. Eu adhuc veritus civibus nec, sumo invidunt mel id, in vim dictas detraxit. -->
  <!-- legere iriure blandit. Veri iisque accusamus an pri. -->
<!-- </div> -->
<!-- </div> -->