<div fxLayout="row" fxLayoutGap="10px">
<!-- <div class="flex flex-row"> -->
    <div fxFlex="1 auto">
    <!-- <div class="flex flex-col" style="margin-right: 10px;"> -->
        <app-pending-purchase-requisition [pr]="pr"></app-pending-purchase-requisition>
        <app-pending-purchase-requisition-detail [contractId]="contractId"></app-pending-purchase-requisition-detail>
     </div>
     <div fxFlex="auto" fxLayoutAlign="end">
    <!-- <div> -->
        <app-contract-accordion></app-contract-accordion>
    </div>
</div>