dist: trusty
sudo: true

language: node_js
node_js:
  - 14

branches:
  only:
    - Internationalization

deploy:
  provider: firebase

script: 
  - ng build --prod

after_success:
  - firebase deploy