<!-- <mat-card> -->
  <!-- <div class="entry-form mat-h3"> -->
  <div class="entry-form">
    <!-- <p>{{contractId}}</p> -->
    <!-- <mat-toolbar color="primary">
      <div>Material Theme</div>
      <div class="mat-caption">Material Theme</div>
    </mat-toolbar> -->
  <!-- <div class="mat-body-2"> -->
    <mat-drawer-container>
      <!-- <mat-drawer-container class="example-container" [hasBackdrop]="hasBackdrop.value"> -->
      <!-- <mat-drawer #drawer [mode]="mode.value">I'm a drawer</mat-drawer> -->
      <mat-drawer-content>
        <mat-form-field>
          <input matInput type="text" placeholder="Contract Id" value={{contract?.contractId}} #input readonly>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" id="contractName" placeholder="Contract Name" [(ngModel)]="contract.contractName">
        </mat-form-field>
        <mat-form-field *ngIf="contract != undefined">
          <input matInput #dateEntry="ngModel" placeholder="Date Entry" name="dateEntry" id="dateEntry"
            [(ngModel)]="contract.dateEntry"
            (ngModelChange)="contract.dateEntry = $event" [max]="todaysDate" required [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="dateEntry?.invalid">
            <div *ngIf="dateEntry.errors.required">Entry date is required</div>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Contract Value" value={{contract?.contractValue}} #input>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Currency</mat-label>
          <mat-select #mode  [(value)]="selected" (selectionChange)="onSelectionChange($event.value)">
            <mat-option value="US$">US$</mat-option>
            <mat-option value="KD">KD</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
<!-- </div> -->
<!-- </mat-card> -->