<div class="excontainer mat-elevation-z8">
    <ul class="mdc-image-list mdc-image-list--masonry image-list--rounded-corners">
        <li class="mdc-image-list__item">
            <!-- <div class="mdc-image-list__image-aspect-container"> -->
                <img class="mdc-image-list__image"
                    src="http://localhost:5000/ImageHandler.ashx?id=103"/>
            <!-- </div> -->
            <!-- <div class="mdc-image-list__supporting">
        <span class="mdc-image-list__label">Text label</span>
      </div> -->
        </li>
        <li class="mdc-image-list__item">
            <!-- <div class="mdc-image-list__image-aspect-container"> -->
                <img class="mdc-image-list__image"
                    src="http://localhost:5000/ImageHandler.ashx?id=105"/>
            <!-- </div> -->
        </li>
        <li class="mdc-image-list__item">
            <!-- <div class="mdc-image-list__image-aspect-container"> -->
                <img class="mdc-image-list__image"
                    src="http://localhost:5000/ImageHandler.ashx?id=104"/>
            <!-- </div> -->
        </li>
    </ul>
</div>