<div class="spinner-container" *ngIf="loading$ | async">
    <mat-spinner diameter="100" strokeWidth="10"></mat-spinner>
</div>

<!-- <div class="mat-elevation-z8" *ngFor="let row of dataSource"> -->
<div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" [matSortDisableClear]="false" matSort matSortActive="ItemId"
        matSortDirection="asc">
        <!-- <mat-table [matSortDisableClear]="false" matSort matSortActive="contractId" -->

        <ng-container matColumnDef="ItemId">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Item ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.itemId}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="PartNo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Part No </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.partNo}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="PartNoDescription">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.partNoDescription}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="SumQuantity">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.sumQuantity}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="UnitPrice">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Unit Price </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.unitPrice}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="TotalPrice">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Total Price </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.totalPrice}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <!-- <mat-row *matRowDef="let row; columns: displayedColumns" ></mat-row> -->
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

        <!-- Row shown when there is no matching data. -->
        <!-- <tr class="mat-row" *matNoDataRow> -->
        <!-- <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</mat-cell> -->
        <!-- </tr> -->
    </mat-table>

    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
</div>