<div fxLayout="row" fxLayoutGap="10px">
    <div fxLayout="column" fxFlex="0 1 calc(80% - 10px)">
        <div style="margin:10px">Sales BackOffice Microsoft SQL Server Database Schema Design</div>
        <div class="my-card__media mdc-card__media mdc-card__media mat-elevation-z8"></div>
    </div>
    <!-- <div fxLayout="column" fxFlex="0 1 calc(20% - 10px)">
        <div style="margin-top: 40px; width:300px">
            <table class="currency-rates" style="table-layout:fixed; border-collapse: separate; border-spacing: 10px; color:Black">
                <tr><td><div></div></td><td>KUWAITI DINAR</td><td style="border-bottom:1px solid black"><strong id="KWD"> 1 KWD Buys:</strong></td></tr>
                <tr><td><div></div></td><td>US DOLLAR</td><td><strong id="USD"></strong></td></tr>
                <tr><td><div></div></td><td>BAHRAINI DINAR</td><td><strong id="BHD"></strong></td></tr>
                <tr><td><div></div></td><td>OMANI RIYAL</td><td><strong id="OMR"></strong></td></tr>
                <tr><td><div></div></td><td>QATARI RIYAL</td><td><strong id="QAR"></strong></td></tr>
                <tr><td><div></div></td><td>SAUDI RIYAL</td><td><strong id="SAR"></strong></td></tr>
                <tr><td><div></div></td><td>UAE DIRHAMS</td><td><strong id="AED"></strong></td></tr>
                <tr><td><div></div></td><td>RUSSIAN RUBLE</td><td><strong id="RUB"></strong></td></tr>
            </table>
            <br/>
            <div style="text-align: center"><a href="http://www.geoplugin.com/geolocation/" target="_new">IP Geolocation</a> by <a href="http://www.geoplugin.com/" target="_new">geoPlugin</a></div>
        </div>        
    </div> -->
</div>