.mat-table {
    /* display: flex; */
    /* column-gap: 40px; */
    /* overflow: auto;
    width: 100%; */
    width: 100%;
    height: 280px;
    /* margin: 0, 10px; */
    overflow: auto;
    // margin-top: 10px; 
  }
  
  .mat-cell,
  .mat-header-cell {
    color: black;    
    // font-size: 16px;
    min-height: 40px;
    padding: 0px 12px;
    margin-right: 10px;    
    /* font-weight: 700; */
  }

  .mat-header-row {
    min-height: 40px;
  }

  .mat-row {
    min-height: 40px;
    cursor: pointer;
    &.highlight {
      background-color: #ede8f7 !important;
    }    
  }

  .mat-row:is(.highlight) .mat-cell {
    color: var(--mdc-theme-primary) !important;
    // overflow: initial;
  }