  mat-table {
    /* display: flex; */
    /* column-gap: 40px; */
    /* overflow: auto;
    width: 100%; */
    width: 100%;
    height: 280px;
    /* margin: 0, 10px; */
    overflow: auto;
    // margin-top: 10px; 
  }
  
  mat-cell,
  mat-header-cell {
    color: black;    
    // font-size: 16px;
    min-height: 40px;
    padding: 0px 12px;
    margin-right: 10px;    
    /* font-weight: 700; */
  }

  mat-header-row {
    min-height: 40px;
  }

  :host {
    --my-primary-color: #E0ECF6;
  }

  mat-row {
  //tr.mat-mdc-row:hover {
    min-height: 40px;
    cursor: pointer;
    &.highlight {background-color: var(--my-primary-color) !important;}    
    //&:hover { background: #c8c8c8; }    
  }

  mat-row:hover {
    background: #c8c8c8;
    //background-color: red;
  }

  // mat-row:nth-child(even) {
  //   background-color: #ede8f7;
  // }

  // mat-row:is(.highlight) .mat-cell {
  //   color: var(--my-primary-color) !important;
  //   // overflow: initial;
  // }

  .spinner-container {
    height: 200px;
    width: 200px;
    position: fixed;
    // position: absolute; 
    z-index: 100;    
  }

  .spinner-container mat-spinner {
    margin: 80px auto 0 auto;
  }
  