<div class="spinner-container" *ngIf="loading$ | async">
  <mat-spinner diameter="100" strokeWidth="10"></mat-spinner>
</div>

<div fxLayout="row" fxLayoutGap="10px" style="justify-content: end; 
                                             margin:10px 10px 0px 0px">
  <!-- <div class="flex flex-row"> -->
  <!-- <div fxLayout="column" fxFlex="0 1 calc(90% - 10px)" style="background-color:rgb(224,224,224);"> -->
  <div fxFlex="100%" style="background-color:rgb(224,224,224); justify-content: end;">
    <div fxFlex="600px">
      <div id="div_pic" style="display:none; margin:10px;">
        <mat-card class="card" style="padding: 10px;">
          <mat-card-title-group>
            <mat-card-title>{{name}}</mat-card-title>
            <mat-card-subtitle>{{title}}</mat-card-subtitle>
            <img mat-card-xl-image id="wanted-picture" alt="Criminal's photo" />
          </mat-card-title-group>
          <mat-card-content>
            <p style="font-weight:bolder; font-size:medium;">
              {{accused}}
            </p>
          </mat-card-content>
        </mat-card>
        <!-- <div id="animal" style="clear:right"></div> -->
      </div>
      <!-- <div id="div_pic" style="display:none">
      <img id="wanted-picture" alt="" height="200" width="200" style="float:left; padding-right:30px" />
      <div id="animal" style="clear:right"></div>
    </div> -->

      <div id="div_wsq" style="display: none; margin: 50px 10px 10px 0px">
        <table>
          <tr>
            <td><strong>LL</strong></td>
            <td><strong>LR</strong></td>
            <td><strong>LM</strong></td>
            <td><strong>LI</strong></td>
            <td><strong>RI</strong></td>
            <td><strong>RM</strong></td>
            <td><strong>RR</strong></td>
            <td><strong>RL</strong></td>
            <td><strong>TL</strong></td>
            <td><strong>TR</strong></td>
          </tr>
          <tr>
            <td>
              <mat-card>
                <img id="ll" class="wsq" title="Left little" alt="Left little" height="84" width="56" />
              </mat-card>
            </td>
            <td>
              <mat-card>
                <img id="lr" class="wsq" title="Left ring" alt="Left ring" height="84" width="56" />
              </mat-card>
            </td>
            <td>
              <mat-card>
                <img id="lm" class="wsq" title="Left middle" alt="Left middle" height="84" width="56" />
              </mat-card>
            </td>
            <td>
              <mat-card>
                <img id="li" class="wsq" title="Left index" alt="Left index" height="84" width="56" />
              </mat-card>
            </td>
            <td>
              <mat-card>
                <img id="ri" class="wsq" title="Right index" alt="Right index" height="84" width="56" />
              </mat-card>
            </td>
            <td>
              <mat-card>
                <img id="rm" class="wsq" title="Right middle" alt="Right middle" height="84" width="56" />
              </mat-card>
            </td>
            <td>
              <mat-card>
                <img id="rr" class="wsq" title="Right ring" alt="Right ring" height="84" width="56" />
              </mat-card>
            </td>
            <td>
              <mat-card>
                <img id="rl" class="wsq" title="Right little" alt="Right little" height="84" width="56" />
              </mat-card>
            </td>
            <td>
              <mat-card>
                <img id="lt" class="wsq" title="Left thumb" alt="Left thumb" height="84" width="56" />
              </mat-card>
            </td>
            <td>
              <mat-card>
                <img id="rt" class="wsq" title="Right thumb" alt="Right thumb" height="84" width="56" />
              </mat-card>
            </td>
          </tr>
        </table>

        <div id="wsqDialog">
          <div><em id="wsqDialogText">click to close</em></div>
          <img id="wsqDialogImage" title="" alt="" />
        </div>

        <!-- <div id="pig" style="display:none">
        <em style="font-weight:bold; font-size:large; text-decoration:underline">PIG:</em>
        <br /><br />
        <span style="font-size:medium; text-decoration:underline">Name:</span><span
          style="font-weight:bolder; font-size:medium;"> “Napoleon”</span><br /><br />
        <span style="font-size:medium; text-decoration:underline">Title:</span><span
          style="font-weight:bolder; font-size:medium;"> Leader of operation “Animal Farm” after defeating his
          cofounder</span><br /><br />
        <span style="font-size:medium; text-decoration:underline">Accused:</span><span
          style="font-weight:bolder; font-size:medium;"> False statements, misinforming his comrades, abuse of power,
          murder, oppression of animal rights, sabotaging comrades, association with humans.</span>
      </div>

      <div id="rooster" style="display:none">
        <em style="font-weight:bold; font-size:large; text-decoration:underline">ROOSTER:</em>
        <br /><br />
        <span style="font-size:medium; text-decoration:underline">Name:</span><span
          style="font-weight:bolder; font-size:medium;"> “Alexandar”</span><br /><br />
        <span style="font-size:medium; text-decoration:underline">Title:</span><span
          style="font-weight:bolder; font-size:medium;"> Pen watchman</span><br /><br />
        <span style="font-size:medium; text-decoration:underline">Accused:</span><span
          style="font-weight:bolder; font-size:medium;"> Excessive noise pollution in domestic district, disturbance
          during
          after-hours.</span>
      </div>

      <div id="monkey" style="display:none">
        <em style="font-weight:bold; font-size:large; text-decoration:underline">MONKEY:</em>
        <br /><br />
        <span style="font-size:medium; text-decoration:underline">Name:</span><span
          style="font-weight:bolder; font-size:medium;"> “Bert”</span><br /><br />
        <span style="font-size:medium; text-decoration:underline">Title:</span><span
          style="font-weight:bolder; font-size:medium;"> Trained pick-pocket, former pet</span><br /><br />
        <span style="font-size:medium; text-decoration:underline">Accused:</span><span
          style="font-weight:bolder; font-size:medium;"> Small-scale street robbery, multiple attempts to retrieve
          fruits
          from street sellers, pick-pocketing.</span>
      </div> -->
      </div>
    </div>
  </div>
  <!-- <div fxLayout="column" fxFlex="0 1 calc(10% - 10px)"> -->
  <div>
    <div class="excontainer mat-elevation-z8">
      <ul class="mdc-image-list mdc-image-list--masonry image-list--rounded-corners" id="bio"
        style="border:0px solid black; height:inherit; display:none; overflow:auto;">
        <li class="mdc-image-list__item">
          <!-- <div class="mdc-image-list__image-aspect-container"> -->
          <img class="mdc-image-list__image" src="{{urlImg}}?id=103" />
          <!-- </div> -->
          <!-- <div class="mdc-image-list__supporting">
          <span class="mdc-image-list__label">Text label</span>
        </div> -->
        </li>
        <li class="mdc-image-list__item">
          <!-- <div class="mdc-image-list__image-aspect-container"> -->
          <img class="mdc-image-list__image" src="{{urlImg}}?id=105" />
          <!-- </div> -->
        </li>
        <li class="mdc-image-list__item">
          <!-- <div class="mdc-image-list__image-aspect-container"> -->
          <img class="mdc-image-list__image" src="{{urlImg}}?id=104" />
          <!-- </div> -->
        </li>
      </ul>
    </div>
  </div>
</div>







<!-- 
<div style="border:0px solid red; height:inherit;">
  <ul id="bio" class="content" style="border:0px solid black; height:inherit; display:none; overflow:auto;">
    <li><img src="http://localhost:5000/ImageHandler.ashx?id=103" alt="" height="40" width="40" /><strong
        unselectable="on" class="unselectable">Pig</strong></li>
    <li><img src="http://localhost:5000/ImageHandler.ashx?id=104" alt="" height="40" width="40" /><strong
        unselectable="on" class="unselectable">Roost</strong></li>
    <li><img src="http://localhost:5000/ImageHandler.ashx?id=105" alt="" height="40" width="40" /><strong
        unselectable="on" class="unselectable">Monkey</strong></li>
  </ul>
  <div id="info2"></div>
</div> -->

<!-- <img class="mdc-image-list__image"
  src="http://localhost:5000/ImageHandler.ashx?id=103"/> -->