#bio 
{
    margin-left:auto;
    margin-right:auto;
}

#bio img 
{
    vertical-align:middle;
    padding:8px;
    border:none;
}

.wsq 
{
    margin:4px; 
    border:1px solid black;
}

#div_wsq td { text-align:center }