  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .example-container {
    height: 200px;
    overflow: auto;
  }
  
  .mat-header-cell {
    font-size: 16px;
    font-weight: 700;
  }

  tr.mat-header-row {
    border: 1px;
    height: 30px;
  }

  tr.mat-row {
    border: 1px;
    height: 20px;
  }

  /* .date-entry {
    text-align: center;
  }

  .date-entry mat-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
  } */