  /* .mat-table {
    overflow: auto;
    width: 100%;
  } */
  
  .mat-form-field {
    font-size: 16px;
    /* margin-left: 10px; */
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .contract-container {
    /* display: flex; */
    /* flex-direction: column; */
    /* min-width: 300px; */

    height: 200px;
    /* margin: 0, 10px; */
    overflow: auto;
  }

  .mat-header-cell {
    color: black;
  }

  /* .mat-cell:nth-child(4),
  .mat-header-cell:nth-child(4) {
    flex: 0 0 40px;
  }

  .mat-cell:nth-child(5),
  .mat-header-cell:nth-child(5) {
    flex: 0 0 40px;
  }

  .mat-sort-header-container {
    font-size: larger;
    font-weight: bolder;
  } */

  .mat-header-cell {
    font-size: 16px;
    /* font-weight: 700; */
  }

  tr.mat-header-row {
    border: 1px;
    height: 30px;
  }

  tr.mat-row {
    border: 1px;
    height: 20px;
  }

  .spinner-container {
    height: 200px;
    width: 200px;
    position: fixed;
  }

  .spinner-container mat-spinner {
    margin: 40px auto 0 auto;
  }

  /* .date-entry {
    text-align: center;
  }

  .date-entry mat-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
  } */