@use './global.scss';

//@use "@material/typography/mdc-typography";

// @use '@material/typography' with (
//   $font-family: unquote('Roboto Condensed'),
// );


// @use '@material/typography/mdc-typography';

// @use "@material/typography" with (
//   $styles-body1: (
//     font-family: unquote("Times New Roman, Helvetica, sans-serif")
//   ),
//   $styles-body2: (
//     font-family: unquote("Times New Roman, Helvetica, sans-serif"),
//     font-size: 3.25rem
//   )
// );

$mdc-typography-font-family: unquote("Times New Roman, Helvetica Neue, sans-serif");
//"@material/typography/mdc-typography";

// $mdc-typography-font-family: unquote("Arial, Helvetica, sans-serif");
// $mdc-typography: (
//   font-family: unquote("Times New Roman, Helvetica, sans-serif")
// );
//@use '@material/typography/mdc-typography';


@use '~@angular/material' as mat;


//@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin-ext');
//@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$custom-typography: mat.define-typography-config(
  $font-family: '"Open Sans", "Helvetica Neue", sans-serif',

  $body-2: mat.define-typography-level(24px, 1, 600, "Times New Roman"), // font-size, line-height, font-weight, font-family, and letter-spacing

  $body-1: mat.define-typography-level(
    $font-family: "Open Sans",
    $font-weight: 400,
    $font-size: 12px,
    $line-height: 100%,
    $letter-spacing: normal,
  ),

  //$input: mat.define-typography-level(24px, 1, 600, "Times New Roman")

);

//@import "@material/typography/mdc-typography";

// @include typography.core-styles;

// @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,500');

//$font-family: '"Open Sans", "Helvetica Neue", sans-serif',

@include mat.core($custom-typography);

@include mat.form-field-typography($custom-typography);

@import '~@angular/material/theming';

// $secondary-typography: mat-typography-config(
//   $font-family: 'Comic Sans, sans-serif'
// );



$my-primary: mat.define-palette(mat.$deep-purple-palette);
$my-accent:  mat.define-palette($mat-amber, A200, A100, A400);
$my-warn:    mat.define-palette($mat-red);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 )
));

$mdc-theme-primary: mat.get-color-from-palette($my-primary);
//$mdc-theme-primary: #9c27b0;
$mdc-theme-accent: mat.get-color-from-palette($my-accent);
// $mdc-theme-accent: #76ff03;
$mdc-theme-background: #fff;

@import "@material/theme/mdc-theme";



//$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

// @include mat.core-theme($my-theme);
@include mat.all-component-themes($my-theme);
//@include mat.mdc-top-app-bar($my-app-theme);

//@include mat.all-component-themes($my-app-theme);

// .kids-theme {
//     $kids-primary: mat.define-palette(mat.$cyan-palette);
//     $kids-accent: mat.define-palette(mat.$yellow-palette);
//     $kids-typography: mat.define-typography-config(
//       // Specify "Comic Sans" as the default font family for all levels.
//       $font-family: 'Comic Sans',
//     );
  
//     $kids-theme: mat.define-light-theme((
//      color: (
//        primary: $kids-primary,
//        accent: $kids-accent,
//      ),
//      typography: $kids-typography,
//     ));
  
//     @include mat.all-component-themes($kids-theme);
// }



//@include angular-material-theme($my-app-theme);


/*
.grey-alternate-theme {
    $grey-alternate-primary: mat-palette($mat-blue-grey, 800);
    $grey-alternate-accent:  mat-palette($mat-yellow, 400);

    $grey-alternate-theme: mat-dark-theme($grey-alternate-primary, $grey-alternate-accent);
  
    // better use 'mat-app-background' class (if your app does not use side-nav)
    // in 'body' element instead of defining color here.
    // Both side-nav-container and 'mat-app-background' class gets 'color' defined
    // according to theme color specified.
    color: rgba(150,150,150,0.8); //No default color defined in themes apparently
  
    @include mat-core-theme($grey-alternate-theme);  //angular-material-theme() is an owerkill

    @include mat-toolbar-typography($secondary-typography);
     
}
*/