//@use "@material/theme/mdc-theme";
@use '@angular/material' as mat;
// @use "@material/theme";

/* @use "@material/theme" with (
  $primary: red,
  $secondary: #76ff03,
  $background: #fff,
);
@use "@material/top-app-bar/mdc-top-app-bar";
*/

//@use "@material/list/evolution-mixins" as list;

//@include list.core-styles();

@include mat.core();


$cyan-palette: (
  50: #e0edf6,
  100: #b3d1e8,
  200: #80b2d9,
  300: #4d93ca,
  400: #267cbe,
  500: #0065b3,
  600: #005dac,
  700: #0053a3,
  800: #00499a,
  900: #00378b,
  A100: #b7ceff,
  A200: #84abff,
  A400: #5188ff,
  A700: #3777ff,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: white,
  )
);

/* main {
--roman: red;
} */

$my-primary: mat.define-palette($cyan-palette);
//$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 ),
 typography: mat.define-typography-config(),
 density: 2, 
));

//$mdc-theme-primary: mat.get-color-from-palette($my-primary);
// $mdc-theme-primary: #0065b3;
//$mdc-theme-primary: red;
//--mdc-theme-primary: red;

  //@include list.deprecated-item-selected-text-color(#0065b3);
  //@include list.list-selected-ink-color(#0065b3);
  //@include list.list-selected-meta-text-ink-color(#0065b3);

/* .mdc-list-item {
  //	--mdc-theme-primary: var(--my-primary-color);
    //--mdc-theme-on-primary: var(--mdc-theme-text-primary-on-light);
    //--mdc-theme-accent: darksalmon;
}
 */
// $mdc-theme-secondary: #f00;
// $mdc-theme-accent: mat.get-color-from-palette($my-accent);
//$mdc-theme-secondary: mat.get-color-from-palette($my-accent);

// // $mdc-theme-accent: #76ff03;
// $mdc-theme-warn: #fff;
//$mdc-theme-background: #fff; // White 

//@import "@material/theme/mdc-theme";

body {
@include mat.all-component-themes($my-theme);
}

